{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/post_detail.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/arrows.css' %}" type="text/css">
  <title>Форум | {{ post.title }}</title>
{% endblock %}

{% block body %}
  <section class="section">
    <h1>{{ post.title }}</h1>

    <p class="content">
      {% if post.preview_image %}
        <img src="{{ post.preview_image.url }}" alt="">
      {% else %}
        <img src="{% static 'img/default-post-image.png' %}" alt="">
      {% endif %}
      <span>{{ post.content }}</span>
    </p>

    <p class="credits">
      {{ post.published }}, {{ post.author.username }}
    </p>

    <a class="go-back" href="{% url 'posts:post_list' %}">
      <div class="arrow left"></div>
      К постам
    </a>

  </section>
{% endblock %}
