body {
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  animation: 1s ease 0s 1 fadeIn;
}

/* При работе на мобильных устройствах, выключаем мерцание элементов при кликах */
@media (max-width: 1024px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

