body {
  font-size: 16px;
  margin: 0;
}

.container {
  width: 75%;
  margin: 0 auto;
}

/* При работе на мобильных устройствах, выключаем мерцание элементов при кликах */
@media (max-width: 1024px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

