/*параметры таблицы для заполнения*/

.main_table {
    border: 3px solid black;
    background-color: white;
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
}

td {
    border: 1px solid #000000;
}

th {
    border: 1px solid #000000;
    height: 1px;
    background-color: #005000;
    color: white;
    text-align: right;
}

.topic_name {
    width: 550px;
    height: 30px;
    resize: none;
}

.head_table {
    border: 2px solid black;
}

.text_field {
    color: blue;
    background: white;
    outline: none;
    height: 300px;
    width: 600px;
    overflow: auto;
    resize: none;
}

input[type='submit'] {
}

.tiny-pageembed--1by1 {
    display: block;
    overflow: auto;
    padding: 0;
    position: relative;
    width: 100%;
}
