{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">

    <title>Темы</title>
{% endblock %}

{% block body %}
  <form action="{% url 'create_topic:search_post' %}">
    <p>
      <label>
        <input type="search" name="search_posts" placeholder="поиск постов">
        <input type="submit" value="поиск">
      </label>
    </p>
  </form>

  {% for i in posts %}
    <section class="post">
      <div class="post-inside_head">
        <div class="post-item">
          <h1>
            {{ i.post_time }}
          </h1>
            <h2>
                {# Обрати внимание сюда #}
            {{ i.post_name|safe }}
            </h2>
        </div>

          <div class="post-item">
              <h3>
                  <img src="{% static 'img/default-post-image.png' %}" alt="">
            {{ i.post_user_name }}
              </h3>
              <h4 class="text_area" id="posted_text">
                  {# И сюда #}
            {{ i.post_text|safe }}
              </h4>
          </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}

{% block posts %}
  <section class="post">
    <h2>
      something222 {% comment %}почему вот этого не видно, а выше |^| {% endcomment %}
    </h2>
  </section>
{% endblock %}
