{# Базовый шаблон для всех страниц #}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>

  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'fonts.css' %}" type="text/css">

  {% block head %}
  {% endblock %}

</head>
<body>
<div class="container">
  {% block body %}
  {% endblock %}
</div>

{% block js %}
{% endblock %}

</body>
</html>
