/* Заголовок страницы */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header a {
    padding-bottom: 2em;
  }
}

li.user {
  padding-bottom: .5em;
}

@media (max-width: 768px) {
  ul.users {
    padding: 0;
  }

  li.user {
    padding-bottom: 1em;
    text-align: center;
    list-style: none;
  }
}

.button {
  cursor: pointer;
}
