.section {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.section h1 {
  text-align: center;
}

@media (max-width: 1024px) {
  .section {
    width: 90%;
  }
}

.content {
  text-indent: 1em;
  font-size: 1.2rem;
  overflow: auto;
  text-align: justify;
}

.content img {
  float: right;
  max-width: 400px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content img {
    float: none;
  }

  .content span {
    align-self: flex-start;
  }
}

.credits {
  position: absolute;
  right: 1em;
}
