/* Основная секция с постами */
.section {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .section {
    justify-content: space-evenly;
  }
}

/* Контейнер с постом */
.post {
  /* Размещаем по 2 поста в строчку */
  flex: 0 40%;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  margin-left: 2em;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: aliceblue;
  /* Убираем стандартные параметры ссылки */
  text-decoration: none;
  color: black;
}

.post:hover {
  transform: translateY(-1em);
  box-shadow: 0.5em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .post {
    margin-bottom: 5em;
  }
}

.post img {
  max-height: 150px;
  height: 100%;
  width: auto;
}

.post-text {
  width: 100%;
}

.post-text h2 {
  text-align: center;
}

.post-text p {
  text-indent: 1.5em;
  text-align: justify;
  padding: 1em;
}
