{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'title_page/css/index.css' %}" type="text/css">
  <title>Форум</title>
{% endblock %}

{% block body %}
  <header class="header">
    <h1 class="button">
      Здарова
    </h1>
    <a href="{% url 'title_page:index' %}">На главную</a>
    <a href="{% url 'admin:index' %}">Админка</a>
    <ul>
      {% for user in users %}
        <li class="user">
          <a href="{% url 'title_page:user-detail' user.pk %}">
            {% if user.username and user.last_name %}
              {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
            {% else %}
              {{ user.username }}
            {% endif %}
          </a>
        </li>
      {% empty %}
        <div>Пользователей нет.</div>
      {% endfor %}
    </ul>
  </header>
{% endblock %}

{% block js %}
  <script src="{% static 'title_page/js/index.js' %}" type="text/javascript"></script>
{% endblock %}
