{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'title_page/css/post_detail.css' %}" type="text/css">
  <title>Форум | {{ post.title }}</title>
{% endblock %}

{% block body %}
  <section class="section">
    <h1>{{ post.title }}</h1>

    <p class="content">
      <img src="{{ post.preview_image.url }}" alt="">
      {{ post.content }}
    </p>

    <p class="credits">
      {{ post.added_date }}, {{ post.created_by.username }}
    </p>

  </section>
{% endblock %}
