{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'title_page/css/post_list.css' %}" type="text/css">
  <title>Форум</title>
{% endblock %}

{% block body %}
  <section class="section">
    {% for post in posts %}
      <a class="post" href="{% url 'title_page:post-detail' post.pk %}">
        {% if post.preview_image %}
          <img src="{{ post.preview_image.url }}" alt="">
        {% else %}
          <img src="{% static 'title_page/img/default-post-image.png' %}" alt="">
        {% endif %}

        <div class="post-text">
          <h2>{{ post.title }}</h2>
          <p>{{ post.summary }}</p>
        </div>

        <div class="created-date">
          {{ post.added_date }}, {{ post.created_by.username }}
        </div>

      </a>
    {% empty %}
      <h1>Постов не найдено.</h1>
    {% endfor %}
  </section>
{% endblock %}
