{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'create_topic/css/index.css' %}" type="text/css">
    <script src="https://cdn.tiny.cloud/1/qo8mojsix8oohjrc5v81p89fah1h2cqm64jnpcj3o814kts9/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#my_field',
        });
    </script>
    <script>
        $(document).ready(function () {
            $('text_area').submit(function (e) {
                var content = tinymce.get('posted_text').getContent();
                $('text_area').html(content)
            })
        })
    </script>

    <title>Создать тему</title>
{% endblock %}

{% block body %}
    <form action="{% url 'create_topic:create_post' %}">
        <table class="main_table">
            <tr>
                <th>
                    <label>
                        <textarea class="topic_name" name="post_name"></textarea>
                    </label>
                </th>
            </tr>
            <tr>
                <td>
                    {% csrf_token %}
                    <label>
                        <textarea class="text_field" id="my_field" name="text_field"></textarea>
                    </label>
                    {% comment %}<input class="text_field" type="text" name="text_field">{% endcomment %}
                    <input onclick="get_the_textarea()" type="submit" value="создать пост">
                </td>
            </tr>
        </table>
    </form>

    {% for i in posts %}
        <section class="post">
            <div class="post-inside_head">
                <div class="post-item">
                    <h1>
                        {{ i.post_time }}
                    </h1>
                    <h1>
                        {{ i.post_name }}
                    </h1>
                </div>
                <div class="post-item">
                    <h1>
                        <img src="{% static 'posts_app/img/default-post-image.png' %}" alt="">
                        {{ i.post_user_name }}
                    </h1>
                    <h3 class="text_area" onload="get_the_textarea()" id="posted_text">
                        {{ i.post_text }}
                    </h3>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block posts %}
    <section class="post">
        <h2>
            something222 {% comment %}почему вот этого не видно, а выше |^| {% endcomment %}
        </h2>
    </section>
{% endblock %}
