{# Базовый шаблон для всех страниц #}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>

  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css">

  {% block head %}
  {% endblock %}

</head>
<body>

<header class="site-header">
  {% block auth %}
    <div class="auth">
      {% if user.is_authenticated %}
        <a>Здравствуйте, {{ user.get_username }}</a>
      {% else %}
        <a>Войти</a>
      {% endif %}
    </div>
  {% endblock %}
</header>

<div class="container">
  {% block body %}
  {% endblock %}
</div>

{% block js %}
{% endblock %}

</body>
</html>
